{% extends 'partials/base.html' %}
{% block title %}Shopping Cart{% endblock title %}
{% load static humanize %}
{% load product_tags %}
{% block content  %}
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
</head>
<style>
   .main-div{
      margin: 10px 0;
      padding: 0;
   }
   .allData{
      background: #ffffff;
      width: 100%;
      border-radius: 6px;
      margin-bottom: 4px;
   }
   .main-section, .summary_card{
      padding: 5px;
   }
   .summary_card{
      width: 100%;
      max-height: 300px;
      border-radius: 6px;
      margin-bottom: 4px;
   }
   .collg8{
      margin-left: 0; 
      margin-right: 0;
      margin-bottom: 10px;
   }
   .checkout_btn{
      width: 100%;
      display: grid;
      place-content: center;
      padding: 4px 0;
      margin: 10px 0;
      background: #fcbe00;
      color: #000000;
   }
</style>
  
<main class="container">
    {% if shopcart %}
    <div id="cart_items" class="bg-light">
         <div class="row main-div">
            <div class="col-lg-8 col-md-8 collg8">
               {% for c in shopcart %}
               <section id="cartdiv-{{c.id}}" class="allData shadow-sm">
                  <input type="hidden" class="cartId" value="{{ c.id }}">
                  <input type="hidden" class="variantId" value="{{ c.variant.id }}">
                  <input type="hidden" class="productId" value="{{ c.product.id }}">
                  <div id="cartdiv mine" class="main-section">
                     <input class="checking value" {% if c.added == True %}checked{% endif %} type="checkbox">
                     <div class="d-flex">
                        <div class="pb-0 mb-0 pl-10 product-thumbnail">
                           <a class="product-thumbnail" href="{{c.product.get_absolute_url}}">
                              {% if c.product.variant != 'None' %}
                              <img class="product-thumbnail mn-200" src="{{c.variant.image.url}}" width="100" alt="">
                              {% else %}
                              <img class="product-thumbnail mn-200" src="{{c.product.image.url}}"  width="100" alt="">
                              {% endif %}
                              &nbsp;&nbsp;
                           </a>
                           <div class="align-items-center">
                              <button onclick="deleteCartItem('{{ c.id }}')" class="badge btn-block ml-15 px-2 py-2 shadow-sm shadow-sm border text-dark bg-light"><i class="icon-bin text-dark ms-2"></i> Remove</button> &nbsp;
                           </div>
                        </div>
                        &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
                        <div class="w-100">
                           <h5><a href="{{c.product.get_absolute_url}}">{{c.product.title}}</a></h5>
                           <div>
                              <div>
                                 {% if c.product.variant == 'Size' %}
                                 <p class="my-0 py-0">size: {{c.variant.size}}</p>
                                 {% elif c.product.variant == 'Color' %}
                                 <p class="my-0 py-0">color: {{c.variant.color}}</p>
                                 {% elif c.product.variant == 'Size-Color' %}
                                 <p class="my-0 py-0">color: {{c.variant.color}}</p>
                                 <p class="my-0 py-0">size: {{c.variant.size}}</p>
                                 {% endif %}
            
                                 {% if c.product.variant == 'None' %}
                                 <p class="my-0 py-0">
                                    <strong>
                                       {% if c.product.total_quantity >= 10 %} <span class="text-success fw-bold"> In Stock</span> 
                                       {% elif c.product.total_quantity < 10 %}<span class="text-warning fw-bold">{{p.total_quantity}} Item{{p.total_quantity|pluralize}} In Stock</span> 
                                       {% elif c.product.total_quantity < 1 %} <span class="text-danger fw-bold"> Out of Stock</span> {% endif %}
                                    </strong>
                                 </p>
                                 {% else %}
                                 <p class="my-0 py-0">
                                    <strong>
                                       {% if c.variant.quantity >= 10 %} <span class="text-success fw-bold">In Stock</span> 
                                       {% elif c.variant.quantity < 1 %} <span class="text-danger fw-bold"> Out of Stock</span> 
                                       {% elif c.variant.quantity < 10 %}<span class="text-warning fw-bold">{{c.variant.quantity}} Item{{c.variant.quantity|pluralize}} In Stock</span>{% endif %} 
                                    </strong>
                                 </p>
                                 {% endif %}
                                 <div class="d-flex justify-content-between align-items-center">
                                    <h4 class="product-price">
                                       {% if c.product.variant == 'None' %}
                                       <span data-base-price="{{c.product.price}}" class="old-price hidden"></span>
                                       <span data-base-price="{{c.product.price|floatformat:"2"}}" class="new-price">{{currency}}{{ c.product.price|multiply:rate|floatformat:"2"|intcomma }}</span>
                                       {% else %}
                                       <span data-base-price="{{c.variant.price}}" class="old-price hidden"></span>
                                       <span data-base-price="{{c.variant.price|floatformat:"2"}}" class="new-price">{{currency}}{{ c.variant.price|multiply:rate|floatformat:"2"|intcomma }}</span>
                                       {% endif %}
                                    </h4>
                                 </div>
                                 <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                       <button data-cart-id="{{c.id}}" data-variant-id="{{ c.variant.id }}" data-product-id="{{ c.product.id }}" class="save-for-later shadow-sm shadow-sm border text-dark bg-light">
                                          save</button>
                                    </div>
                                    <div class="input-counter">
                                       <span class="minus-button updateQuantity shadow-sm"><i class="icon-minus"></i></span>
                                       <input class="quantity_total_" type="text" min="1" {% if c.product.variant == 'None' %} max="{{c.product.total_quantity}}" {% else %} max="{{c.variant.quantity}}" {% endif %} value="{{c.quantity}}">
                                       <span class="plus-button updateQuantity shadow-sm"><i class="icon-plus"></i></span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </section>
               {% endfor %}
            </div>
            <div id="summary_card" class="col-md-4 col-lg-4">
               <div class="card shadow-sm rounded-3">
                     <div class="card-body">
                        <h5 class="text-uppercase border-bottom d-flex justify-content-between align-items-center fw-bold">
                           <span>Cart Summary</span>
                        </h5>
                        <div class="border-bottom">
                           <div class="product-price d-flex justify-content-between align-items-center">
                              <h6 class="fw-bold">Subtotal</h6>
                              <h4 data-base-price="{{total}}" id="summary_totalamount" class="new-price summary_totalamount justify-content-between">{{currency}}{{ total|multiply:rate|floatformat:"2"|intcomma }}</h4>
                              <a data-base-price="{{total}}" class="old-price hidden" name="" id=""></a>
                           </div>
                        </div>
                        <div class="border-bottom">
                           <div class="product-price d-flex justify-content-between align-items-center">
                              <h6 class="fw-bold">Packaging fee</h6>
                              <h4 data-base-price="{{total_packaging_fee}}" id="packaging_fee" class="new-price justify-content-between">{{currency}}{{ total_packaging_fee|multiply:rate|floatformat:"2"|intcomma }}</h4>
                              <a data-base-price="{{total_packaging_fee}}" class="old-price hidden" name="" id=""></a>
                           </div>
                        </div>
                        <a class="btn btn-primary btn-block" href="javascript:void(0);" onclick="navigateTo('{% url 'order:checkout' %}')" type="button">Proceed to checkout</a>
                        <hr>
                        
                        <form method="POST" action="{% url 'payments:paystack_pay' %}">
                           {% csrf_token %}
                           <button type="submit">Pay Now</button>
                        </form>
                        
                        <p class="mt-3"><small>Free fast delivery. No order minimum. Exclusive savings. Start your 30-day free trial of Prime.</small></p>
                     </div>
               </div>
            </div>
         </div>
      </div>

     <!-- cart-area-end -->
     {% else %}
     <!-- error-area-start -->
      <div class="error-area pt-80 pb-80">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                     <div class="error-info text-center">
                        <div class="error-image text-center mb-50">
                           <img src="{% static 'assets5/img/banner/404.png' %}" alt="">
                        </div>
                        <div class="error-content">
                           <h5>No Cart Item Found</h5>
                           <p>Sorry {% if request.user.is_authenticated %} <strong>{{request.user.username}}</strong> {% else %} </strong>Dear Custommer</strong> {% endif %}, Your cart is empty. Please return to Homepage.</p>
                           <div class="error-button">
                                 <a href="javascript:void(0);" onclick="navigateTo('{% url 'core:index' %}')" class="error-btn">Shop More!</a>
                           </div>
                        </div>
                     </div>
               </div>
            </div>
         </div>
      </div>
      
    <!-- error-area-start -->

   {% endif %}

   <div id="empty_cart" class="hidden error-area pt-80 pb-80">
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
                  <div class="error-info text-center">
                     <div class="error-image text-center mb-50">
                        <img src="{% static 'assets5/img/banner/404.png' %}" alt="">
                     </div>
                     <div class="error-content">
                        <h5>No Cart Item Found</h5>
                        <p>Sorry {% if request.user.is_authenticated %} <strong>{{request.user.username}}</strong> {% else %} </strong>Dear Custommer</strong> {% endif %}, Your cart is empty. Please return to Homepage.</p>
                        <div class="error-button">
                              <a href="javascript:void(0);" onclick="navigateTo('{% url 'core:index' %}')" class="error-btn">Shop More!</a>
                        </div>
                     </div>
                  </div>
            </div>
         </div>
      </div>
   </div>

</main>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}