{% extends 'partials/base.html' %}
{% block title %}Dashboard | {{request.user.username}}{% endblock title %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}


{% load static %}
{% block content %}


<main class="main">
    <div class="page-content">
        <div class="container">
            
        <style>
            
            .grid {
                display: grid;
                gap: 1rem;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                padding: 1rem;
            }
            
            .card {
                background-color: white;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
                padding: 16px;
                border-radius: 4px;
            }
            .card:hover {
                background-color: #fbfbfb;
            }
            
            .headerd {
                margin-bottom: 1rem;
                display: flex;
                align-items: center;
            }
            
            .header-img {
                width: 50px;
                height: 50px;
                object-fit: cover;
                border-radius: 100%;
                margin-right: 1rem;
                flex-shrink: 0;
            }
        </style>
        <h4 class="mb-2 mt-2">Your account</h4>
            <div class="grid">
                <a href="#">
                    <div class="card">
                      <div class="headerd">
                        <img class="header-img skeleton" src="https://source.unsplash.com/100x100/?nature" />
                        <div class="title" data-title>
                          <div class="skeleton skeleton-text">Your Profile</div>
                        </div>
                      </div>
                      <div data-body>
                        <div class="skeleton skeleton-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum, vel!</div>
                      </div>
                    </div>
                </a>
                <a href="{% url 'address:custommer_address' %}">
                    <div class="card">
                      <div class="headerd">
                        <img class="header-img skeleton" src="https://source.unsplash.com/100x100/?nature" />
                        <div class="title" data-title>
                          <div class="skeleton skeleton-text">Your addresses</div>
                        </div>
                      </div>
                      <div data-body>
                        <div class="skeleton skeleton-text">Edit, remove or set default address</div>
                      </div>
                    </div>
                </a>
                <a href="#">
                    <div class="card">
                      <div class="headerd">
                        <img class="header-img skeleton" src="https://source.unsplash.com/100x100/?nature" />
                        <div class="title" data-title>
                          <div class="skeleton skeleton-text">Dashboard</div>
                        </div>
                      </div>
                      <div data-body>
                        <div class="skeleton skeleton-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum, vel!</div>
                      </div>
                    </div>
                </a>
                <a href="#">
                    <div class="card">
                      <div class="headerd">
                        <img class="header-img skeleton" src="https://source.unsplash.com/100x100/?nature" />
                        <div class="title" data-title>
                          <div class="skeleton skeleton-text">Reviews</div>
                        </div>
                      </div>
                      <div data-body>
                        <div class="skeleton skeleton-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum, vel!</div>
                      </div>
                    </div>
                </a>
                <a href="#">
                    <div class="card">
                      <div class="headerd">
                        <img class="header-img skeleton" src="https://source.unsplash.com/100x100/?nature" />
                        <div class="title" data-title>
                          <div class="skeleton skeleton-text">Recently viewed products</div>
                        </div>
                      </div>
                      <div data-body>
                        <div class="skeleton skeleton-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum, vel!</div>
                      </div>
                    </div>
                </a>
                <a href="#">
                    <div class="card">
                      <div class="headerd">
                        <img class="header-img skeleton" src="https://source.unsplash.com/100x100/?nature" />
                        <div class="title" data-title>
                          <div class="skeleton skeleton-text">Security</div>
                        </div>
                      </div>
                      <div data-body>
                        <div class="skeleton skeleton-text">Edit login, name, and mobile number</div>
                      </div>
                    </div>
                </a>
             
            </div>

            <div class="dashboard">
                <div class="container">
                    <div class="row">
                        <aside class="col-md-4 col-lg-3">
                            <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="true"><i class="icon-user"></i>Dashboard</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="false"><i class="icon-book"></i>Orders</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-downloads-link" data-toggle="tab" href="#tab-downloads" role="tab" aria-controls="tab-downloads" aria-selected="false">Downloads</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-address" aria-selected="false"><i class="icon-note"></i>Adresses</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="false"><i class="icon-gear"></i>Account Details</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="icon-log-out"></i>Sign Out</a>
                                </li>
                            </ul>
                        </aside><!-- End .col-lg-3 -->
    
                        <div class="col-md-8 col-lg-9">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
                                    <p>Hello <span class="font-weight-normal text-dark">{{request.user.username}}</span> (not <span class="font-weight-normal text-dark">User</span>? <a href="#">Log out</a>) 
                                    <br>
                                    From your account dashboard you can view your <a href="#tab-orders" class="tab-trigger-link link-underline">recent orders</a>, manage your <a href="#tab-address" class="tab-trigger-link">shipping and billing addresses</a>, and <a href="#tab-account" class="tab-trigger-link">edit your password and account details</a>.</p>
                                </div><!-- .End .tab-pane -->
    
                                <div class="tab-pane fade" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
                                    <div style="height: 600px; width: 100%; object-fit: cover;">
                                        <canvas id="myChart"></canvas>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="mb-0">Your Orders</h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Order</th>
                                                            <th>Date</th>
                                                            <th>Status</th>
                                                            <th>Paid Status</th>
                                                            <th>Total</th>
                                                            <th>Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for o in orders_list %}
                                                        <tr>
                                                            <td>INVOICE_NO-{{o.id}}</td>
    
                                                            <td>{{o.order_date}}</td>
                                                            <td>{{o.product_status|title}}</td>
                                                            {% if o.paid_status == True %}
                                                            <td class="text-success"><b>✓</b></td>
                                                            {% else %}
                                                            <td class="text-danger"><b><span>X</span></b></td>
    
                                                            {% endif %}
                                                            <td>₵{{o.price}}</td>
                                                            <td><a href="{% url 'core:order-detail' o.id %}" class="btn-small d-block">View</a></td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <p>No order has been made yet.</p>
                                    <a href="category.html" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
                                </div><!-- .End .tab-pane -->
    
                                <div class="tab-pane fade" id="tab-downloads" role="tabpanel" aria-labelledby="tab-downloads-link">
                                    <p>No downloads available yet.</p>
                                    <a href="category.html" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
                                </div><!-- .End .tab-pane -->
    
                                <div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
                                    <p>The following addresses will be used on the checkout page by default.</p>
    
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="card card-dashboard">
                                                <div class="card-body">
                                                    <h3 class="card-title">Billing Address</h3><!-- End .card-title -->
                                                    <p>User Name<br>
                                                    User Company<br>
                                                    John str<br>
                                                    New York, NY 10001<br>
                                                    1-234-987-6543<br>
                                                    yourmail@mail.com<br>
                                                    <a href="#">Edit <i class="icon-edit"></i></a></p>
                                                </div><!-- End .card-body -->
                                            </div><!-- End .card-dashboard -->
                                        </div><!-- End .col-lg-6 -->
    
                                        <div class="col-lg-6">
                                            <div class="card card-dashboard">
                                                <div class="card-body">
                                                    <h3 class="card-title">Shipping Address</h3><!-- End .card-title -->
    
                                                    <p>You have not set up this type of address yet.<br>
                                                    <a href="#">Edit <i class="icon-edit"></i></a></p>
                                                </div><!-- End .card-body -->
                                            </div><!-- End .card-dashboard -->
                                        </div><!-- End .col-lg-6 -->
                                    </div><!-- End .row -->
                                </div><!-- .End .tab-pane -->
    
                                <div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
                                    <form action="#">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>First Name *</label>
                                                <input type="text" class="form-control" required>
                                            </div><!-- End .col-sm-6 -->
    
                                            <div class="col-sm-6">
                                                <label>Last Name *</label>
                                                <input type="text" class="form-control" required>
                                            </div><!-- End .col-sm-6 -->
                                        </div><!-- End .row -->
    
                                        <label>Display Name *</label>
                                        <input type="text" class="form-control" required>
                                        <small class="form-text">This will be how your name will be displayed in the account section and in reviews</small>
    
                                        <label>Email address *</label>
                                        <input type="email" class="form-control" required>
    
                                        <label>Current password (leave blank to leave unchanged)</label>
                                        <input type="password" class="form-control">
    
                                        <label>New password (leave blank to leave unchanged)</label>
                                        <input type="password" class="form-control">
    
                                        <label>Confirm new password</label>
                                        <input type="password" class="form-control mb-2">
    
                                        <button type="submit" class="btn btn-outline-primary-2">
                                            <span>SAVE CHANGES</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>
                                    </form>
                                </div><!-- .End .tab-pane -->
                            </div>
                        </div><!-- End .col-lg-9 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .dashboard -->
        </div>
    </div><!-- End .page-content -->
</main><!-- End .main -->

    <main class="main pages">
       
        <div class="page-content pt-30 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 pt-40">
                                <div class="dashboard-menu">
                                    <ul class="nav flex-column" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="profile-tab" data-bs-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><i class="fi-rs-user mr-10"></i>Profile</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="dashboard-tab" data-bs-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="false"><i class="fi-rs-settings-sliders mr-10"></i>Dashboard</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false"><i class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                        </li>
                                        <!-- <li class="nav-item">
                                            <a class="nav-link" id="track-orders-tab" data-bs-toggle="tab" href="#track-orders" role="tab" aria-controls="track-orders" aria-selected="false"><i class="fi-rs-shopping-cart-check mr-10"></i>Track Your Order</a>
                                        </li> -->
                                        <li class="nav-item">
                                            <a class="nav-link" id="address-tab" data-bs-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="true"><i class="fi-rs-marker mr-10"></i>My Address</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab" href="#account-detail" role="tab" aria-controls="account-detail" aria-selected="true"><i class="fi-rs-user mr-10"></i>Account details</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'userauths:sign-out' %}"><i class="fi-rs-sign-out mr-10"></i>Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-9">
                                <div class="tab-content account dashboard-content pl-20">
                                    <div class="tab-pane fade active show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="card">
                                            <div class="card-header border-bottom">
                                                <h3 class="mb-0 text-center">My Profile</h3>
                                            </div>
                                            <div class="text-center">
                                                {% if user_profile.image %}
                                                <span><img src="{{ user_profile.image.url }}" style="width: 150px; object-fit: cover; border-radius:50%;" alt=""></span>
                                                {% else %}
                                                <span><img src="https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg" style="width: 150px; object-fit: cover; border-radius:50%; height:150px;" alt=""></span>
                                                {% endif %}
                                            </div>
                                            <div class="card-body mb-2" style="display: flex; align-items: center; gap: 10px;">
                                                {% comment %} <div>
                                                    {% if user_profile.image %}
                                                    <span><img src="{{ user_profile.image.url }}" style="width: 150px; object-fit: cover; border-radius:50%; height:150px;" alt=""></span>
                                                    {% else %}
                                                    <span><img src="https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg" style="width: 150px; object-fit: cover; border-radius:50%; height:150px;" alt=""></span>

                                                    {% endif %}
                                                </div> {% endcomment %}

                                                <div>
                                                    <span><input class="mb-2" type="text" value="Name - {{ user_profile.full_name }}"></span>
                                                    <span><input class="mb-2" type="text" value="Bio - {{ user_profile.bio }}"></span>
                                                    <span><input class="mb-2" type="text" value="Phone - {{ user_profile.phone }}"></span>
                                                    {% if user_profile.verified == True %}
                                                    <div class="p-4 border rounded">
                                                        <span>Verified</span> <span> <i class="fas fa-check-circle"></i> </span>
                                                    </div>
                                                    {% else %}
                                                    <div class="p-4 border rounded">
                                                        <span>Not verified </span> <span> <i class="fas fa-x"></i> </span>
                                                    </div>
                                                    {% endif %}
                                                    <div class="p-4 border rounded">
                                                       <a href="{% url 'userauths:profile-update' %}" class="btn btn-success w-100 shadow-lg">Edit Profile</a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="tab-pane fade col-lg-9" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="mb-0">Hello {{request.user.username|title}}!</h3>
                                            </div>
                                            <div class="card-body">
                                                <p>
                                                    From your account dashboard. you can easily check &amp; view your <a href="#">recent orders</a>,<br />
                                                    manage your <a href="#">shipping and billing addresses</a> and <a href="#">edit your password and account details.</a>
                                                </p>
                                            </div>
                                            {% comment %} <div class="mt-4">
                                                <p>{{ month }}</p>
                                                <p>{{ total_orders }}</p>
                                            </div> {% endcomment %}
                                            <div cla style="height: 800px; width: 350px; object-fit: cover;">
                                                <canvas id="myChart"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="mb-0">Your Orders</h3>
                                            </div>
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Order</th>
                                                                <th>Date</th>
                                                                <th>Status</th>
                                                                <th>Paid Status</th>
                                                                <th>Total</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for o in orders_list %}
                                                            <tr>
                                                                <td>INVOICE_NO-{{o.id}}</td>

                                                                <td>{{o.order_date}}</td>
                                                                <td>{{o.product_status|title}}</td>
                                                                {% if o.paid_status == True %}
                                                                <td class="text-success"><b>✓</b></td>
                                                                {% else %}
                                                                <td class="text-danger"><b><span>X</span></b></td>

                                                                {% endif %}
                                                                <td>₵{{o.price}}</td>
                                                                <td><a href="{% url 'core:order-detail' o.id %}" class="btn-small d-block">View</a></td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="track-orders" role="tabpanel" aria-labelledby="track-orders-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="mb-0">Orders tracking</h3>
                                            </div>
                                            <div class="card-body contact-from-area">
                                                <p>To track your order please enter your OrderID in the box below and press "Track" button. This was given to you on your receipt and in the confirmation email you should have received.</p>
                                                <div class="row">
                                                    <div class="col-lg-8">
                                                        <form class="contact-form-style mt-30 mb-50" action="#" method="post">
                                                            <div class="input-style mb-20">
                                                                <label>Order ID</label>
                                                                <input name="order-id" placeholder="Found in your order confirmation email" type="text" />
                                                            </div>
                                                            <div class="input-style mb-20">
                                                                <label>Billing email</label>
                                                                <input name="billing-email" placeholder="Email you used during checkout" type="email" />
                                                            </div>
                                                            <button class="submit submit-auto-width" type="submit">Track</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% include 'alerts/alert.html' %}
                                    <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                                        <div class="row">
                                                <div>
                                                    <form class="mb-4" method="POST" id="personForm" data-regions-url="{% url 'address:ajax_load_regions' %}" > {% csrf_token %}
                                                        <div class="card-hdeader pt-20 pb-10">
                                                            <h3 class="text-center">Add Address</h3>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-md-6">
                                                                {{form.address|attr:"placeholder:Address"}}
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                {{form.first_name|attr:"placeholder:First Name"}}
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                {{form.last_name|attr:"placeholder:Last Name"}}
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                {{form.email|attr:"placeholder:Email"}}
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                {{form.country|attr:"placeholder:Country"|add_class:'form-control'}}
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                {{form.region|attr:"placeholder:Region"|add_class:'form-control'}}
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                {{form.town|attr:"placeholder:Town"|add_class:'form-control'}}
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                {{form.mobile|attr:"placeholder:Mobile"}}
                                                            </div>
                                                            <div class="col-md-12">
                                                                <button type="submit" class="btn btn-secondary submit font-weight-bold" name="submit" value="Submit">Save Address</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <hr>
                                                <br>
                                                {% for a in address %}
                                                <div class="col-lg-6">
                                                    <div class="card mb-3 mb-lg-0">
                                                        <div class="card-header">
                                                            <h4 class="mb-0">Address {{ forloop.counter }}</h4>
                                                        </div>
                                                        <div class="card-body border rounded ">
                                                            <address>
                                                                <p>{{ a.address }}</p>
                                                                <p>{{ a.first_name }}</p>
                                                                <p>{{ a.last_name }}</p>
                                                                <p>{{ a.country }}</p>
                                                                <p>{{ a.region }}</p>
                                                                <p>{{ a.town }}</p>
                                                                <p>{{ a.mobile }}</p>
                                                                <p>{{ a.email }}</p>
                                                            </address>
                                                            <br>
                                                            <div class="d-flex justify-content-between align-items-center">
                                                                <span>
                                                                    {% if a.status %}
                                                                        <i data-address-id="{{ a.id }}" class="fa fa-check-circle text-success check{{ a.id }} check"></i>
                                                                        <button data-address-id="{{ a.id }}"  style="display: none;" class="btn btn-success make-default-address button{{ a.id }} action_btn">Activate</button>
                                                                    {% else %}
                                                                        <i data-address-id="{{ a.id }}" style="display: none;" class="fa fa-check-circle text-success check check{{ a.id }}"></i>
                                                                        <button data-address-id="{{ a.id }}"   class="btn btn-success make-default-address button{{ a.id }} action_btn">Activate</button>
                                                                    {% endif %}
    
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                        </div>
                                        {% if request.META.HTTP_REFERER %} <a class="text-primary my-3" href="{{request.META.HTTP_REFERER}}">Back</a>{% endif %}
                                    </div>

                                    <div class="tab-pane fade" id="account-detail" role="tabpanel" aria-labelledby="account-detail-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Account Details</h5>
                                            </div>
                                            <div class="card-body">
                                                <form method="post" name="enq">
                                                    {% csrf_token %}
                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <label>First Name <span class="required">*</span></label>
                                                            <input required="" class="form-control" name="name" type="text" />
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>Last Name <span class="required">*</span></label>
                                                            <input required="" class="form-control" name="phone" />
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Display Name <span class="required">*</span></label>
                                                            <input required="" class="form-control" name="dname" type="text" />
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Email Address <span class="required">*</span></label>
                                                            <input required="" class="form-control" name="email" type="email" />
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Current Password <span class="required">*</span></label>
                                                            <input required="" class="form-control" name="password" type="password" />
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>New Password <span class="required">*</span></label>
                                                            <input required="" class="form-control" name="npassword" type="password" />
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Confirm Password <span class="required">*</span></label>
                                                            <input required="" class="form-control" name="cpassword" type="password" />
                                                        </div>
                                                        <div class="col-md-12">
                                                            <button type="submit" class="btn btn-fill-out submit font-weight-bold" name="submit" value="Submit">Save Change</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>



    <script>
        const labels = {{ month|safe }}
        const data = {
          labels: labels,
          datasets: [{
            label: 'Orders',
            backgroundColor: 'rgb(59, 183, 126)',
            borderColor: 'rgb(59, 183, 126)',
            data: {{ total_orders|safe }}
          }],

        };
        const config = {
          type: 'line',
          data: data,
          options: {
            tooltips: {enabled: false},
            hover: {mode: null},
          }
        };

        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );
      </script>
{% endblock content %}
