{% load static %}
{% load humanize %}
<!-- header-start -->
<header class="header d-blue-bg">
    <div class="header-mid">
         <div class="container">
             <div class="heade-mid-inner">
                 <div class="row align-items-center">
                     <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4">
                         <div class="header__info header__info-2">
                             <div class="side-menu mr-20">
                                 <button type="button" class="side-menu-btn offcanvas-toggle-btn"><i class="fas fa-bars"></i></button>
                             </div>
                             <div class="logo logo-3">
                                 <a href="{% url 'core:index' %}" class="logo-image">
                                    <h2 style="color: white;">
                                        <span>
                                            TradeX
                                            <span style="font-size: 14px; top: 14px; position: absolute; background: #16bcdc;color: #fff; border-radius: 50%; padding: 10px;" class="count count-2" id="cart_count">8</span>
                                        </span>
                                    </h2>
                                </a>
                             </div>
                             <div>
                                <button class="search_1-btn d-block d-sm-none d-md-block d-lg-none" >
                                    <i class="far fa-search"></i>
                                </button>
                             </div>
                         </div>
                     </div>
                     <div class="col-xl-5 col-lg-4 d-none d-lg-block">
                         <div class="header__search">
                             <form action="#">
                                 <div class="header__search-box">
                                     <input class="search-input search-input-2" placeholder="I'm shopping for...">
                                     <button class="button button-2 button-3"><i class="far fa-search"></i></button>
                                 </div>
                             </form>
                         </div>
                     </div>

                     <div class="col-xl-4 col-lg-5 col-md-8 col-sm-8 d-none d-lg-block">
                         <div class="header-action">
                             <div class="block-userlink">
                                 <a class="icon-link icon-link-2" href="{% url 'userauths:dashboard' %}">
                                    <i class="fas fa-user"></i>
                                    <span class="text">
                                        {% if request.user.is_authenticated %}
                                        <span class="sub">{{request.user.username|title}} </span>
                                        {% else %}
                                        <span class="sub">Login </span>
                                        {% endif %}
                                    My Account </span>
                                    </a>
                                 </a>
                             </div>
                             <div class="block-wishlist action">
                                <a class="icon-link icon-link-2" href="#">
                                {% if request.user.is_authenticated %}
                                <i class="fas fa-question"></i>
                                {% else %}
                                <i class="fas fa-question"></i>
                                {% endif %}
                                <span class="text">
                                <span class="sub">Contact</span>
                                Need Help? </span>
                                </a>
                            </div>
                             <div class="block-cart action">
                                 <a class="icon-link icon-link-2" href="{% url 'order:shopcart' %}">
                                 <i class="fas fa-shopping-cart"></i>
                                 <span class="count count-2" id="cart_count">{{ cart_count }}</span>
                                 <span class="text">
                                 <span class="sub">Your Cart:</span>
                                 <span id="totalamount">₵{{total|floatformat:2|intcomma}}</span></span>
                                 </a>
                                 <div class="cart">
                                     <div class="cart__mini">
                                         <ul>
                                             <li>
                                               <div class="cart__title">
                                                 <h4>Your Cart</h4>
                                                 <span>(<span id="cart_count">{{ cart_count }}</span> Item{{ cart_count |pluralize }} in Cart)</span>
                                               </div>
                                             </li>
                                             {% for c in cart %}
                                             <li>
                                               <div class="cart__item d-flex justify-content-between align-items-center">
                                                 <div class="cart__inner d-flex">
                                                   <div class="cart__thumb">
                                                     <a href="{{c.product.get_absolute_url}}">
                                                         {% if c.variant.image_id > 0 %}
                                                         <img src="{{c.variant.image}}" alt="">
                                                         {% else %}
                                                         <img src="{{c.product.image.url}}" alt="">
                                                         {% endif %}
                                                     </a>
                                                   </div>
                                                   <div class="cart__details">
                                                     <h6><a href="{{c.product.get_absolute_url}}"> {{c.product.title|truncatechars:20}}  </a></h6>
                                                     <div class="cart__price"> {{ c.quantity }} ×
                                                         {% if c.product.variant == 'None' %}
                                                         <span class="amount">₵{{c.product.price|floatformat:2|intcomma}}</span>
                                                         {% else %}
                                                         <span class="amount">₵{{c.variant.price|floatformat:2|intcomma}}</span>
                                                         {% endif %}
                                                     </div>
                                                   </div>
                                                 </div>
                                               </div>
                                             </li>
                                             {% endfor %}
                                             <li>
                                               <div class="cart__sub d-flex justify-content-between align-items-center">
                                                 <h6>Subtotal</h6>
                                                 <span id="totalamount" class="cart__sub-total">₵{{total|intcomma|floatformat:2}}</span>
                                               </div>
                                             </li>
                                             <li>
                                                 <a href="{% url 'order:shopcart' %}" class="wc-cart mb-10">View cart</a>
                                                 <a href="{% url 'order:checkout' %}" class="wc-checkout">Checkout</a>
                                             </li>
                                         </ul>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
    </div>
</header>

<!-- offcanvas area start -->
<div class="offcanvas__area">
    <div class="offcanvas__wrapper">
    <div class="offcanvas__close">
        <button class="offcanvas__close-btn" id="offcanvas__close-btn">
            <i class="fal fa-times"></i>
        </button>
    </div>
    <div class="offcanvas__content">
        <div class="offcanvas__logo mb-40">
            <a href="index.html">
            <img src="assets/img/logo/logo-white.png" alt="logo">
            </a>
        </div>
        <div class="offcanvas__search mb-25">
            <form action="#">
                <input type="text" placeholder="What are you searching for?">
                <button type="submit" ><i class="far fa-search"></i></button>
            </form>
        </div>
        <div class="sidebar__img mb-20">
            <div class="row gx-2">
               <div class="col-4">
                  <div class="sidebar__single-img hover-effect w-img mb-10">
                     <a class="popup-image" href="assets/img/gallery/gal-1.jpg">
                        <img src="assets/img/gallery/gal-1.jpg" alt="">
                     </a>
                  </div>
               </div>
               <div class="col-4">
                  <div class="sidebar__single-img hover-effect w-img mb-10">
                     <a class="popup-image" href="assets/img/gallery/gal-2.jpg">
                        <img src="assets/img/gallery/gal-2.jpg" alt="">
                     </a>
                  </div>
               </div>
               <div class="col-4">
                  <div class="sidebar__single-img hover-effect w-img mb-10">
                     <a class="popup-image" href="assets/img/gallery/gal-3.jpg">
                        <img src="assets/img/gallery/gal-3.jpg" alt="">
                     </a>
                  </div>
               </div>
               <div class="col-4">
                  <div class="sidebar__single-img hover-effect w-img mb-10">
                     <a class="popup-image" href="assets/img/gallery/gal-4.jpg">
                        <img src="assets/img/gallery/gal-4.jpg" alt="">
                     </a>
                  </div>
               </div>
               <div class="col-4">
                  <div class="sidebar__single-img hover-effect w-img mb-10">
                     <a class="popup-image" href="assets/img/gallery/gal-5.jpg">
                        <img src="assets/img/gallery/gal-5.jpg" alt="">
                     </a>
                  </div>
               </div>
               <div class="col-4">
                  <div class="sidebar__single-img hover-effect w-img mb-10">
                     <a class="popup-image" href="assets/img/gallery/gal-6.jpg">
                        <img src="assets/img/gallery/gal-6.jpg" alt="">
                     </a>
                  </div>
               </div>
            </div>
         </div>
        <div class="mobile-menu-2"></div>
        <div class="offcanvas__action">
        </div>
    </div>
    </div>
</div>
<!-- offcanvas area end -->      
<div class="body-overlay"></div>
<!-- offcanvas area end -->
 
 <!--End header-->