{% extends 'partials/base.html' %}
{% block title %}AdepaMarket{% endblock title %}
{% include 'headers/header1.html' %}
{% load static %}
{% load humanize %}
{% load product_tags %}
{% block content  %}


    <main class="main bg-light">
        {% include 'alerts/alert.html' %}
         <!-- slider-area-start -->
         <div class="slider-area">
            <div class="swiper-container slider__active">
                <div class="slider-wrapper swiper-wrapper">
                    {% for s in sliders %}
                    <div class="single-slider swiper-slide slider-height d-flex align-items-center" data-background="{{s.image.url}}">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-5">
                                    <div class="slider-content">
                                        <div class="slider-top-btn" data-animation="fadeInLeft" data-delay="1.5s">
                                            <a href="product-details.html" class="st-btn b-radius">HOT DEALS</a>
                                        </div>
                                        <h2 data-animation="fadeInLeft" data-delay="1.7s" class="pt-15 slider-title pb-5">SALE 30% OFF <br> {{s.brand_name}}</h2>
                                        <p class="pr-20 slider_text" data-animation="fadeInLeft" data-delay="1.9s">Discount 30% On Products & Free Shipping</p>
                                        <div class="slider-bottom-btn mt-75">
                                            <a data-animation="fadeInUp" data-delay="1.15s" href="{{s.link}}" class="st-btn-b b-radius">Discover now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /single-slider -->
                    {% endfor %}
                    <div class="main-slider-paginations"></div>
                </div>
            </div>
        </div>
        <!-- slider-area-end -->

         {% if sub_category %}
        <!-- banner__area-start -->
        <section class="categories__area light-bg-s my-2">
            <div class="container custom-conatiner pt-20 bg-white shadow-sm">
                <div class="row">
                    <div class="carausel-10-columns" id="carausel-10-columns">
                        {% for c in sub_category %}
                        <div class="col-xl-2 col-lg-3 col-md-4 ml-5">
                            <div class="categories__item p-relative w-img mb-30">
                                <div class="categories__img b-radius-2">
                                    <a href="{{c.get_absolute_url}}"><img style="filter: brightness(85%);" src="{{c.image.url}}" alt=""></a>
                                </div>
                                <div class="categories__content">
                                    <h6><a href="{{c.get_absolute_url}}">{{c.title}}</a></h6>
                                    <p>({{c.product_count}} Product{{c.product_count|pluralize}})</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <!-- banner__area-end -->
        {% endif %}

        {% if top_selling_product %}
        <!-- topsell__area-start -->
        <section class="topsell__area-2 light-bg-s shadow-sm mb-10">
            <div class="container custom-conatiner pt-20 bg-white shadow-sm">
                <div class="row">
                    <div class="col-xl-12">
                        <div class=" d-flex justify-content-between mb-10">
                            <div class="section__title">
                                <h5 class="st-titile mb-0">Top Selling Products</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div>
                            <div>
                                <div class="product-bs-slider-2">
                                    <div class="product-slider-2 swiper-container">
                                        <div class="swiper-wrapper">
                                            {% for p in top_selling_product %}
                                            <div class="product__item swiper-slide">
                                                <div class="product__thumb fix">
                                                    <div class="product-image w-img">
                                                        <a href="{{p.get_absolute_url}}">
                                                            <img src="{{p.image.url}}" alt="product">
                                                        </a>
                                                    </div>
                                                    <div class="product__offer">
                                                    <span class="discount">{{p.get_percentage|floatformat:0}}%</span>
                                                    </div>
                                                </div>
                                                <div class="product__content pb-0">
                                                    <h6><a href="{{p.get_absolute_url}}">{{p.title|truncatechars:25}}</a></h6>
                                                    <div class="price">
                                                        <div class="price">
                                                            <strong><span>₵{{p.price}}</span></strong>
                                                            <del class="old-price font-xs">₵{{p.old_price}}</del>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- topsell__area-end -->
        {% endif %}

        {% if banners %}
        <!-- banner__area-start -->
            <section class="banner__area pt-20 pb-10">
                <div class="container">
                    <div class="row ">
                        {% for b in banners %}
                        <div class="col-xl-4 col-6 col-lg-4 col-md-6">
                            <div class="banner__item p-relative w-img mb-30">
                                <div class="banner__img">
                                    <a href="{{b.link}}"><img src="{{b.image.url}}" alt=""></a>
                                </div>
                                <div class="banner__content">
                                    <h6><a href="{{b.link}}">{{b.title}}</a></h6>
                                    <p>Discount  20% On Products</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        <!-- banner__area-end -->
        {% endif %}

        {% if trending_product %}
        <!-- topsell__area-start -->
        <section class="topsell__area-2 light-bg-s shadow-sm mb-10">
            <div class="container custom-conatiner pt-20 bg-white shadow-sm">
                <div class="row">
                    <div class="col-xl-12">
                        <div class=" d-flex justify-content-between mb-10">
                            <div class="section__title">
                                <h5 class="st-titile mb-0">Trending Products</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div>
                            <div>
                                <div class="product-bs-slider-2">
                                    <div class="product-slider-2 swiper-container">
                                        <div class="swiper-wrapper">
                                            {% for p in trending_product %}
                                            <div class="product__item swiper-slide">
                                                <div class="product__thumb fix">
                                                    <div class="product-image w-img">
                                                        <a href="{{p.get_absolute_url}}">
                                                            <img src="{{p.image.url}}" alt="product">
                                                        </a>
                                                    </div>
                                                    <div class="product__offer">
                                                    <span class="discount">{{p.get_percentage|floatformat:0}}%</span>
                                                    </div>
                                                </div>
                                                <div class="product__content pb-0">
                                                    <h6><a href="{{p.get_absolute_url}}">{{p.title|truncatechars:25}}</a></h6>
                                                    <div class="price">
                                                        <div class="price">
                                                            <strong><span>₵{{p.price}}</span></strong>
                                                            <del class="old-price font-xs">₵{{p.old_price}}</del>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- topsell__area-end -->
        {% endif %}

        <!-- moveing-text-area-start -->
        <section class="moveing-text-area">
            <div class="container">
                <div class="ovic-running">
                    <div class="wrap">
                        <div class="inner">
                            <p class="item">Free Kumasi Delivery - Return Over ₵200.00 ( Excluding Homeware )   |   Free Kumasi Collect From Store</p>
                            <p class="item">Design Week / 15% Off the website / Code: AYOSALE-2020</p>
                            <p class="item">Always iconic. Now organic. Introducing the ₵20 Organic Tee.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- moveing-text-area-end -->

        {% if popular_product %}
        <!-- topsell__area-start -->
        <section class="topsell__area-2 light-bg-s shadow-sm mb-10">
            <div class="container custom-conatiner pt-20 bg-white shadow-sm">
                <div class="row">
                    <div class="col-xl-12">
                        <div class=" d-flex justify-content-between mb-10">
                            <div class="section__title">
                                <h5 class="st-titile mb-0">Popular Products</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div>
                            <div>
                                <div class="product-bs-slider-2">
                                    <div class="product-slider-2 swiper-container">
                                        <div class="swiper-wrapper">
                                            {% for p in popular_product %}
                                            <div class="product__item swiper-slide">
                                                <div class="product__thumb fix">
                                                    <div class="product-image w-img">
                                                        <a href="{{p.get_absolute_url}}">
                                                            <img src="{{p.image.url}}" alt="product">
                                                        </a>
                                                    </div>
                                                    <div class="product__offer">
                                                    <span class="discount">{{p.get_percentage|floatformat:0}}%</span>
                                                    </div>
                                                </div>
                                                <div class="product__content pb-0">
                                                    <h6><a href="{{p.get_absolute_url}}">{{p.title|truncatechars:25}}</a></h6>
                                                    <div class="price">
                                                        <div class="price">
                                                            <strong><span>₵{{p.price}}</span></strong>
                                                            <del class="old-price font-xs">₵{{p.old_price}}</del>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- topsell__area-end -->
        {% endif %}

        <!-- featured-start -->
        {% if featured %}
        <section class="topsell__area-2 bg-white shadow-sm mb-10">
            <div class="container bg-white">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="section__head d-flex justify-content-between mb-30">
                            <div class="section__title">
                                <h5 class="st-titile">Top Featured Products</h5>
                            </div>
                            <div class="button-wrap">
                                <a href="shop.html">See All Product <i class="fal fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-12">
                        {% for p in featured %}
                        <div class="single-features-item single-features-item-d b-radius mb-20">
                            <div class="row  g-0 align-items-center">
                                <div class="col-md-6">
                                    <div class="features-thum">
                                        <div class="features-product-image w-img">
                                            <a href="{{p.get_absolute_url}}"><img src="{{p.image.url}}" alt=""></a>
                                        </div>
                                        <div class="product__offer">
                                            <span class="discount">{{p.get_percentage|floatformat:0}}%</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="product__content product__content-d">
                                        <h6><a href="{{p.get_absolute_url}}">{{p.title|title}}</a></h6>
                                        <div class="rating mb-5">
                                            <ul class="rating-d">
                                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                <li><a href="#"><i class="fal fa-star"></i></a></li>
                                            </ul>
                                            <span>({{ p.reviews.all.count }} review{{ p.reviews.all.count|pluralize }})</span>
                                        </div>
                                        <div class="price d-price mb-10">
                                            <span>₵{{p.price}} <del class="font-xs">₵{{p.old_price}}</del></span>
                                        </div>
                                        <div class="features-des mb-25">
                                            <p>{{p.description|safe|truncatechars_html:200|linebreaks}}</p>
                                        </div>
                                        {% if p.total_quantity < 1 %}
                                        <a class="cart-btn-2 w-100 mr-10 bg-danger"> Product is Out of Stock</a>
                                        {% else %}
                                        {% if p.variant == 'None' %}
                                        <form action="/order/addtocart/{{p.id}}/" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" value="1" name="quantity">
                                        <div class="cart-option">
                                            <button type="submit" class="cart-btn-2 w-100 mr-10 shadow-sm rounded-3">Add to Cart</button>
                                            <a aria-label="Add To Wishlist"  class="action-btn add-to-wishlist transperant-btn" data-product-item="{{p.id}}"><i class="fi-rs-heart"></i></a>
                                        </div>
                                        </form>
                                        {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-xl-6 col-lg-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="single-features-item b-radius mb-20">
                                    <div class="row  g-0 align-items-center">
                                        <div class="col-6">
                                            <div class="features-thum">
                                                <div class="features-product-image w-img">
                                                    <a href="product-details.html"><img src="{% static 'assets5/img/features-product/fp-1.jpg' %}" alt=""></a>
                                                </div>
                                                <div class="product__offer">
                                                    <span class="discount">-15%</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="product__content product__content-d">
                                                <h6><a href="product-details.html">Epple Watch SE Gold Aluminum</a></h6>
                                                <div class="rating mb-5">
                                                    <ul>
                                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                    </ul>
                                                    <span>(01 review)</span>
                                                </div>
                                                <div class="price d-price">
                                                    <span>$307.00 <del>$110</del></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single-features-item b-radius mb-20">
                                    <div class="row  g-0 align-items-center">
                                        <div class="col-6">
                                            <div class="features-thum">
                                                <div class="features-product-image w-img">
                                                    <a href="product-details.html"><img src="{% static 'assets5/img/features-product/fp-2.jpg' %}" alt=""></a>
                                                </div>
                                                <div class="product__offer">
                                                    <span class="discount">-5%</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="product__content product__content-d">
                                                <h6><a href="product-details.html">G951s Pink Stereo Gaming Headset</a></h6>
                                                <div class="rating mb-5">
                                                    <ul>
                                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                    </ul>
                                                    <span>(01 review)</span>
                                                </div>
                                                <div class="price d-price">
                                                    <span>$307.00 <del>$110</del></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="single-features-item b-radius mb-20">
                                    <div class="row  g-0 align-items-center">
                                        <div class="col-6">
                                            <div class="features-thum">
                                                <div class="features-product-image w-img">
                                                    <a href="product-details.html"><img src="{% static 'assets5/img/features-product/fp-3.jpg' %}" alt=""></a>
                                                </div>
                                                <div class="product__offer">
                                                    <span class="discount">-25%</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="product__content product__content-d">
                                                <h6><a href="product-details.html">Solo3 Wireless On-Ear Headphones</a></h6>
                                                <div class="rating mb-5">
                                                    <ul>
                                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                    </ul>
                                                    <span>(01 review)</span>
                                                </div>
                                                <div class="price d-price">
                                                    <span>$307.00 <del>$110</del></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single-features-item b-radius mb-20">
                                    <div class="row  g-0 align-items-center">
                                        <div class="col-6">
                                            <div class="features-thum">
                                                <div class="features-product-image w-img">
                                                    <a href="product-details.html"><img src="{% static 'assets5/img/features-product/fp-4.jpg' %}" alt=""></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="product__content product__content-d">
                                                <h6><a href="product-details.html">Men’s Short-Sleeve Pocket Oxford Shirt</a></h6>
                                                <div class="rating mb-5">
                                                    <ul>
                                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                        <li><a href="#"><i class="fal fa-star"></i></a></li>
                                                    </ul>
                                                    <span>(01 review)</span>
                                                </div>
                                                <div class="price d-price">
                                                    <span>$307.00 <del>$110</del></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endif %}
        <!-- featured-end -->     

        {% if deals_of_the_day %}
        <!-- topsell__area-start -->
        <section class="topsell__area-2">
            <div class="container custom-conatiner pt-20 bg-white my-2 shadow-sm">
                <div class="row">
                    <div class="col-xl-12">
                        <div class=" d-flex justify-content-between mb-10">
                            <div class="section__title">
                                <h5 class="st-titile mb-0">Deals Of The Day</h5>
                            </div>
                            <div class="offer-time d-none">
                                <span class="offer-title d-none d-sm-block">Hurry Up! Offer ends in:</span>
                                <div class="countdown text-white">
                                    <div class="countdown-inner b-radius px-4" data-countdown="" data-date="Nov 13 2023 21:20:22">
                                        <ul class="text-center">
                                            <li><span data-days="">36</span> Days</li>
                                            <li><span data-hours="">8</span> Hours</li>
                                            <li><span data-minutes="">16</span> Mins</li>
                                            <li><span data-seconds="">54</span> Secs</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div>
                            <div class="">
                                <div class="product-bs-slider-2">
                                    <div class="product-slider-2 swiper-container">
                                        <div class="swiper-wrapper">
                                            {% for p in deals_of_the_day %}
                                            <div class="product__item swiper-slide">
                                                <div class="product__thumb fix">
                                                    <div class="product-image w-img">
                                                        <a href="{{p.get_absolute_url}}">
                                                            <img src="{{p.image.url}}" alt="product">
                                                        </a>
                                                    </div>
                                                    <div class="product__offer">
                                                    <span class="discount">{{p.get_percentage|floatformat:0}}%</span>
                                                    </div>
                                                </div>
                                                <div class="product__content pb-0">
                                                    <h6 class="py-2 my-0"><a href="{{p.get_absolute_url}}">{{p.title|truncatechars:15|title}}</a></h6>
                                                    <div class="price">
                                                        <strong><span>₵{{p.price}}</span></strong>
                                                        <del class="old-price font-xs">₵{{p.old_price}}</del>
                                                    </div>
                                                    <p class="mb-1">{{p.in_stock}} item{{p.in_stock|pluralize}} left</p>
                                                    <div class="progress">
                                                        <div style="width: {{p.progress_bar}}%; background-color: {% if p.in_stock < 10 %} red {% endif %};" class="progress-bar" role="progressbar"></div>
                                                      </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- topsell__area-end -->
        {% endif %}

        {% if sub_category %}
        <!-- banner__area-start -->
        <section class="categories__area light-bg-s my-4">
            <div class="container custom-conatiner pt-20 bg-white shadow-sm">
                <div class="row">
                    <div class="carausel-8-columns" id="carausel-8-columns">
                        {% for c in sub_category %}
                        <div class="col-xl-2 col-lg-3 col-md-4 ml-5">
                            <div class="categories__item p-relative w-img mb-30">
                                <div class="categories__img b-radius-2">
                                    <a href="{{c.get_absolute_url}}"><img src="{{c.image.url}}" alt=""></a>
                                </div>
                                <div class="categories__content">
                                    <h6><a href="{{c.get_absolute_url}}">{{c.title}}</a></h6>
                                    <p>({{c.product_count}} Product{{c.product_count|pluralize}})</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <!-- banner__area-end -->
        {% endif %}

        {% if recommended_for_you %}
        <!-- topsell__area-start -->
        <section class="topsell__area-2 light-bg-s shadow-sm mb-10">
            <div class="container custom-conatiner pt-20 bg-white shadow-sm">
                <div class="row">
                    <div class="col-xl-12">
                        <div class=" d-flex justify-content-between mb-10">
                            <div class="section__title">
                                <h5 class="st-titile mb-0">Recommended Products</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <div>
                            <div>
                                <div class="product-bs-slider-2">
                                    <div class="product-slider-2 swiper-container">
                                        <div class="swiper-wrapper">
                                            {% for p in recommended_for_you %}
                                            <div class="product__item swiper-slide">
                                                <div class="product__thumb fix">
                                                    <div class="product-image w-img">
                                                        <a href="{{p.get_absolute_url}}">
                                                            <img src="{{p.image.url}}" alt="product">
                                                        </a>
                                                    </div>
                                                    <div class="product__offer">
                                                    <span class="discount">{{p.get_percentage|floatformat:0}}%</span>
                                                    </div>
                                                </div>
                                                <div class="product__content pb-0">
                                                    <h6><a href="{{p.get_absolute_url}}">{{p.title|truncatechars:25}}</a></h6>
                                                    <div class="price">
                                                        <div class="price">
                                                            <strong><span>₵{{p.price}}</span></strong>
                                                            <del class="old-price font-xs">₵{{p.old_price}}</del>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- topsell__area-end -->
        {% endif %}

        <!-- features__area-start -->
        <section class="features__area pt-20">
            <div class="container">
                <div class="row row-cols-xxl-4 row-cols-xl-4 row-cols-lg-4 row-cols-md-2 row-cols-sm-2 row-cols-1 gx-0">
                    <div class="col">
                        <div class="features__item d-flex white-bg">
                            <div class="features__icon mr-20">
                                <i class="fal fa-truck"></i>
                            </div>
                            <div class="features__content">
                                <h6>FREE DELIVERY</h6>
                                <p>For all orders over $120</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="features__item d-flex white-bg">
                            <div class="features__icon mr-20">
                                <i class="fal fa-money-check"></i>
                            </div>
                            <div class="features__content">
                                <h6>SAFE PAYMENT</h6>
                                <p>100% secure payment</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="features__item d-flex white-bg">
                            <div class="features__icon mr-20">
                                <i class="fal fa-comments-alt"></i>
                            </div>
                            <div class="features__content">
                                <h6>24/7 HELP CENTER</h6>
                                <p>Delicated 24/7 support</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="features__item features__item-last d-flex white-bg">
                            <div class="features__icon mr-20">
                                <i class="fad fa-user-headset"></i>
                                <i class="fad fa-address-book"></i>
                            </div>
                            <div class="features__content">
                                <h6>FRIENDLY SERVICES</h6>
                                <p>30 day satisfaction guarantee</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- features__area-end -->
        
        {% if blog %}
        <div class="blog-area light-bg-s pt-20 pb-30">
            <div class="container custom-conatiner">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="section__head d-flex justify-content-between mb-30">
                            <div class="section__title section__title-2">
                                <h5 class="st-titile">From the Blog</h5>
                            </div>
                            <div class="button-wrap button-wrap-2">
                                <a href="{% url 'blog:post_list' %}">See more<i class="fal fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for b in blog %}
                    <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-4">
                        <div class="single-smblog mb-30">
                            <div class="smblog-thum">
                                <div class="blog-image w-img">
                                    <a href="{{b.get_absolute_url}}"><img src="{{b.thumbnail.url}}" alt=""></a>
                                </div>
                                <div class="blog-tag">
                                    <a href="#">{{b.category}}</a>
                                </div>
                            </div>
                            <div class="smblog-content">
                                <h6><a href="{{b.get_absolute_url}}">{{b.title|truncatechars:20}}</a></h6>
                                <span class="author mb-10">posted by <a href="{{b.get_absolute_url}}">{{b.author.first_name}}</a></span>
                                <p>{{b.body|truncatewords:10|linebreaks}}</p>
                                <div class="smblog-foot pt-15">
                                    <div class="post-readmore">
                                        <a href="{{b.get_absolute_url}}"> Read More <span class="icon"></span></a>
                                    </div>
                                    <div class="post-date">
                                        <a href="{{b.get_absolute_url}}">{{b.publish|timesince}} ago</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        <!-- blog-area-end -->

        <!-- cta-area-start -->
        <section class="cta-area d-ldark-bg pt-55 pb-10">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="cta-item cta-item-d mb-30">
                            <h5 class="cta-title">Follow Us</h5>
                            <p>We make consolidating, marketing and tracking your social media website easy.</p>
                            <div class="cta-social">
                                <div class="social-icon">
                                    <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                                    <a href="#" class="youtube"><i class="fab fa-youtube"></i></a>
                                    <a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="#" class="rss"><i class="fas fa-rss"></i></a>
                                    <a href="#" class="dribbble"><i class="fab fa-dribbble"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="cta-item mb-30">
                            <h5 class="cta-title">Sign Up To Newsletter</h5>
                            <p>Join 60.000+ subscribers and get a new discount coupon  on every Saturday.</p>
                            <div class="subscribe__form">
                                <form action="#">
                                    <input type="email" placeholder="Enter your email here...">
                                    <button>subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="cta-item mb-30">
                            <h5 class="cta-title">Download App</h5>
                            <p>AdepaMarket App is now available on App Store & Google Play. Get it now.</p>
                            <div class="cta-apps">
                                <div class="apps-store">
                                    <a href="#"><img src="{% static 'assets4/img/brand/app_ios.png' %}" alt=""></a>
                                    <a href="#"><img src="{% static 'assets4/img/brand/app_android.png' %}" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- cta-area-end -->
      
    </main>

{% endblock %}

    