{% extends 'partials/base.html' %}
{% block title %}{{tag.name}} Tag{% endblock title %}

{% load static %}
{% block content %}
    <main class="main">
        <div class="page-header mt-30 mb-50">
            <div class="container">
                <div class="archive-header">
                    <div class="row align-items-center">
                        <div class="col-xl-3">
                            <h1 class="mb-15">#{{tag.name}}</h1>
                            <div class="breadcrumb">
                                <a href="{% url 'core:index' %}" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                                <span></span> Shop <span></span> {{tag.name}}
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="container mb-30">
            <div class="row">
                <div class="col-12">
                    <div class="shop-product-fillter">
                        <div class="totall-product">
                            <p>We found <strong class="text-secondary">{{products.count}}</strong> item{{products.count|pluralize}} for you!</p>
                        </div>
                        <div class="sort-by-product-area">
                            <div class="sort-by-cover mr-10">
                                <div class="sort-by-product-wrap">
                                    <div class="sort-by">
                                        <span><i class="fi-rs-apps"></i>Show:</span>
                                    </div>
                                    <div class="sort-by-dropdown-wrap">
                                        <span> 50 <i class="fi-rs-angle-small-down"></i></span>
                                    </div>
                                </div>
                                <div class="sort-by-dropdown">
                                    <ul>
                                        <li><a class="active" href="#">50</a></li>
                                        <li><a href="#">100</a></li>
                                        <li><a href="#">150</a></li>
                                        <li><a href="#">200</a></li>
                                        <li><a href="#">All</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="sort-by-cover">
                                <div class="sort-by-product-wrap">
                                    <div class="sort-by">
                                        <span><i class="fi-rs-apps-sort"></i>Sort by:</span>
                                    </div>
                                    <div class="sort-by-dropdown-wrap">
                                        <span> Featured <i class="fi-rs-angle-small-down"></i></span>
                                    </div>
                                </div>
                                <div class="sort-by-dropdown">
                                    <ul>
                                        <li><a class="active" href="#">Featured</a></li>
                                        <li><a href="#">Price: Low to High</a></li>
                                        <li><a href="#">Price: High to Low</a></li>
                                        <li><a href="#">Release Date</a></li>
                                        <li><a href="#">Avg. Rating</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row product-grid">
                       
                    {% for p in products %}
                    <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-4">
                        <div class="product-cart-wrap mb-30">
                            <div class="product-img-action-wrap">
                                <div class="product-img product-img-zoom">
                                    <a href="{% url 'core:product_detail' p.slug p.id p.pid %}">
                                        <img class="default-img" src="{{ p.image.url }}" alt="" style="height: 280px; width: 280px; object-fit: cover;"   />
                                        <img class="hover-img" src="{{ p.image.url }}" alt=""  style="height: 280px; width: 280px; object-fit: cover;"  />
                                    </a>
                                </div>
                                <div class="product-action-1">
                                    <a aria-label="Add To Wishlist"  class="action-btn add-to-wishlist" data-product-item="{{p.id}}"><i class="fi-rs-heart"></i></a>
                                    <!-- <a aria-label="Compare" class="action-btn" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a> -->
                                    <a href="{% url 'core:product_detail' p.slug p.id p.pid %}" class="action-btn"><i class="fi-rs-eye"></i></a>
                                </div>
                                <div class="product-badges product-badges-position product-badges-mrg">
                                    <span class="hot">{{p.get_precentage|floatformat:0}}%</span>
                                </div>
                            </div>
                            <div class="product-content-wrap">
                                <div class="product-category">
                                    <a href="{% url 'core:product_detail' p.slug p.id p.pid %}">{{ p.category.title }}</a>
                                </div>
                                <h2><a href="shop-product-right.html">{{ p.title|truncatechars:30 }}</a></h2>
                                <div class="product-rate-cover">
                                    <i class="fas fa-star text-warning"></i>
                                    <span class="font-small ml-5 text-muted">Reviews ({{ p.reviews.all.count }})</span>
                                </div>
                                <div>
                                    <span class="font-small text-muted">By <a href="{% url 'core:vendor-detail' p.vendor.vid %}">{{p.vendor.title}}</a></span>
                                </div>
                                <div class="product-card-bottom">
                                    <div class="product-price">
                                        <span>$</span> <span class="current-product-price-{{ p.id }}">{{p.price}}</span>
                                        <span class="old-price">${{p.old_price}}</span>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                        
                    </div>
                
                    {% if deals %}
                    <!--Products Tabs-->
                    <section class="section-padding pb-5">
                        <div class="container">
                            <div class="section-title">
                                <div class="section__title">
                                    <h5 class="st-titile-d">Top Deals Of The Day</h5>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                {% for p in deals %}
                                <div class="col-xl-3 col-lg-4 col-md-6">
                                    <div class="product-cart-wrap style-2 mb-10">
                                        <div class="product-img-action-wrap">
                                            <div class="product-img">
                                                <a href="{% url 'core:product_detail' p.slug p.id p.pid %}">
                                                    <img src="{{p.image.url}}" alt="" />
                                                </a>
                                            </div>
                                        </div>
                                        <div class="product-content-wrap">
                                            <div class="deals-countdown-wrap">
                                                <div class="deals-countdown" data-countdown="2025/03/25 00:00:00"></div>
                                            </div>
                                            <div class="deals-content">
                                                <h2><a href="{% url 'core:product_detail' p.slug p.id p.pid %}">{{p.title}}</a></h2>
                                                <div class="product-rate-cover">
                                                    <div class="product-rate d-inline-block">
                                                        <div class="product-rating" style="width: 90%"></div>
                                                    </div>
                                                    <span class="font-small ml-5 text-muted"> ({{p.reviews.all.count}})</span>
                                                </div>
                                                <div>
                                                    <span class="font-small text-muted">By <a href="{% url 'core:vendor-detail' p.vendor.vid %}">{{p.vendor.title}}</a></span>
                                                </div>
                                                <div class="product-card-bottom">
                                                    <div class="product-price">
                                                        <span>₵<span class="current-product-price-{{p.id}}">{{p.price}}</span></span>
                                                        <span class="old-price">₵{{p.old_price}}</span>
                                                    </div>
                                                    {% comment %} <div class="add-cart">
                                                        <input type="hidden" value="1" class="product-quantity-{{ p.id }}">
                                                        <input type="hidden" class="product-pid-{{ p.id }}" value="{{ p.pid }}">
                                                        <input type="hidden" class="product-image-{{ p.id }}" value="{{ p.image.url }}">
                                                        <input type="hidden" class="product-id-{{ p.id }}" value="{{ p.id }}">
                                                        <input type="hidden" class="product-title-{{ p.id }}" value="{{ p.title }}">
                                                        <button class="btn btn-primary add-to-cart-btn b-none" data-index="{{p.id}}" id="add-to-cart-btn"><i class="fi-rs-shopping-cart mr-5"></i>Add </button>
                                                    </div> {% endcomment %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
            
                            </div>
                        </div>
                    </section>
                    <!--End Deals-->
                    {% endif %}
                </div>
            </div>
            {% if blog %}
            <div class="blog-area light-bg-s pt-20 pb-30">
                <div class="container custom-conatiner">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="section__head d-flex justify-content-between mb-30">
                                <div class="section__title section__title-2">
                                    <h5 class="st-titile">From the Blog</h5>
                                </div>
                                <div class="button-wrap button-wrap-2">
                                    <a href="{% url 'blog:post_list' %}">See more<i class="fal fa-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for b in blog %}
                        <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-4">
                            <div class="single-smblog mb-30">
                                <div class="smblog-thum">
                                    <div class="blog-image w-img">
                                        <a href="{{b.get_absolute_url}}"><img src="{{b.thumbnail.url}}" alt=""></a>
                                    </div>
                                    <div class="blog-tag">
                                        <a href="#">{{b.category}}</a>
                                    </div>
                                </div>
                                <div class="smblog-content">
                                    <h6><a href="blog-details.html">{{b.title|truncatechars:20}}</a></h6>
                                    <span class="author mb-10">posted by <a href="#">{{b.author.first_name}}</a></span>
                                    <p>{{b.body|truncatewords:10|linebreaks}}</p>
                                    <div class="smblog-foot pt-15">
                                        <div class="post-readmore">
                                            <a href="#"> Read More <span class="icon"></span></a>
                                        </div>
                                        <div class="post-date">
                                            <a href="#">{{b.publish|date}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
            <!-- blog-area-end -->
        </div>
    </main>
   
{% endblock content %}
