{% extends 'partials/base2.html' %}
{% block title %}Reset Password{% endblock title %}
{% load widget_tweaks %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

   <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    .b-example-divider {
      height: 3rem;
      background-color: rgba(0, 0, 0, .1);
      border: solid rgba(0, 0, 0, .15);
      border-width: 1px 0;
      box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
      flex-shrink: 0;
      width: 1.5rem;
      height: 100vh;
    }

    .bi {
      vertical-align: -.125em;
      fill: currentColor;
    }

    .nav-scroller {
      position: relative;
      z-index: 2;
      height: 2.75rem;
      overflow-y: hidden;
    }

    .nav-scroller .nav {
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: 1rem;
      margin-top: -1px;
      overflow-x: auto;
      text-align: center;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }

    .form-signin {
        max-width: 330px;
        padding: 15px;
      }
      
      .form-signin .form-floating:focus-within {
        z-index: 2;
      }
      
      .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
      
      .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
  </style>



    <main class="main pages bg-light">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="{% url 'core:index' %}" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                    <span></span> Pages <span></span> Sign-in
                </div>
            </div>
        </div>
        <div class="page-content pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-10 col-md-12 m-auto">
                        <div class="row">
                            <div class="col-lg-6 pr-30 d-none d-lg-block">
                                <img class="border-radius-15" src="{% static 'assets/imgs/page/login-1.png' %}" alt="" />
                            </div>
                            <div class="col-lg-6 col-md-8">
                                <div class="login_wrap widget-taber-content background-white">
                                    <div class="post-comment-form mt-20">
                                        <div class="heading_s1">
                                            <h1 class="mb-5 text-center">Change Password</h1>
                                        </div>
                                        <form method="POST" class="my-class">
                                            {% csrf_token %}
                                            <div class="input-field">
                                              <i class="fal fa-lock"></i>
                                              {{form.new_password1|attr:"placeholder: New Password"}}
                                            </div>
                                            <div class="input-field">
                                              <i class="fal fa-lock"></i>
                                              {{form.new_password1|attr:"placeholder:Confirm Password"}}
                                            </div>
                                            {% if form.errors %}
                                            <div class="alert alert-danger text-center border pt-20 pb-20 pl-20 pr-20">
                                                <h6>{{form.errors}}</h6>
                                            </div>
                                            {% endif %}
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-secondary w-100 btn-block hover-up" name="login">Log in</button>
                                            </div>
                                        </form>
                                        <small>
                                          <a class="text-primary" href="{% url 'userauths:reset-password' %}">Forgot Password?</a>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
{% endblock %}