{% load static %}

<!-- START error -->
  <div class="error-list alert alert-danger text-center border">
    {% for field in form %}
      {% if field.errors %}
        {% for error in field.errors %}
        <script>
          document.addEventListener("DOMContentLoaded", function(event) {
              toastr.options = { "closeButton": true, "debug": false, "newestOnTop": true,
                  "progressBar": true, "positionClass": "toast-bottom-right", "preventDuplicates": true,
                  "onclick": null, "showDuration": "100", "hideDuration": "1000", "timeOut": "10000",
                  "extendedTimeOut": "1000", "showEasing": "swing", "hideEasing": "linear",
                  "showMethod": "fadeIn", "hideMethod": "fadeOut" };
              {% autoescape off %}
                  {% for msg in error %}
                      toastr.{{ msg.tags }}("{{ msg }}");
                  {% endfor %}
              {% endautoescape %}
          });
      </script>
        {% endfor %}
      {% endif %}
    {% endfor %}


    {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
      <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            toastr.options = { "closeButton": true, "debug": false, "newestOnTop": true,
                "progressBar": true, "positionClass": "toast-bottom-right", "preventDuplicates": true,
                "onclick": null, "showDuration": "100", "hideDuration": "1000", "timeOut": "10000",
                "extendedTimeOut": "1000", "showEasing": "swing", "hideEasing": "linear",
                "showMethod": "fadeIn", "hideMethod": "fadeOut" };
            {% autoescape off %}
                {% for msg in error %}
                    toastr.{{ msg.tags }}("{{ msg }}");
                {% endfor %}
            {% endautoescape %}
        });
    </script>
      {% endfor %}
    {% endif %}
  </div>
<!-- END error -->