{% load static %}

<template id="skeleton-banner-1-template">
    <div class="banner banner-overlay banner-sm content-right shadow-sm skeleton">
        <a href="javascript:void(0)">
            <div class="banner-img skeleton skeleton-image"></div>
        </a>
        <div class="banner-content text-right">
            <div class="skeleton skeleton-text" style="height: 1.5rem; width: 50%;"></div>
            <div class="skeleton skeleton-text" style="height: 1.5rem; width: 30%; margin-top: 1rem;"></div>
            <div class="skeleton skeleton-text" style="height: 2rem; width: 60%; margin-top: 2rem;"></div>
        </div>
    </div><!-- End .banner -->
</template>

<div class="col-sm-6 col-lg-4 col-xl-3 d-none d-lg-block">
    <!-- Skeleton placeholders -->
    <div id="banner-container-1">
        <!-- Banners will be inserted here -->
    </div>
</div><!-- End .col-lg-3 -->

