@import url("https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800");


span.wishlist-count,
span.cart-count {
  font-size: 1.2rem;
  font-family: "Roboto";
  font-weight: 400;
  color: #333;
}
.btn-primary {
  color: #fff;
  font-size: 1.4rem;
  background-color: #fcb941;
  border-color: #fcb941;
  box-shadow: none;
}
.container {
  width: 1188px;
  max-width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.intro-slider-container,
.intro-slide {
  height: 44rem;
  background-color: #f5f6f9;
  margin-bottom: 2.5rem;
}
.intro-slider-container [class^="icon-"]:before,
.intro-slider-container [class*=" icon-"]:before,
.intro-slide [class^="icon-"]:before,
.intro-slide [class*=" icon-"]:before {
  font-size: 3rem;
  color: #fff;
}
.intro-slide.banner-lg {
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
}
.intro-slide.banner-lg .title {
  font-size: 0;
  margin-bottom: 1.3rem;
}
.intro-slide.banner-lg .title a {
  padding: 0.8rem 1.4rem 0.7rem 1.4rem;
}
.intro-slide.banner-lg .content {
  margin-left: -0.2rem;
}
.intro-slide.banner-lg .content h4 {
  margin-top: 0.3rem;
}
.intro-slide.banner-lg .action {
  margin-top: 1rem;
}
.owl-prev:focus,
.owl-next:focus {
  outline: none;
}
.banner-lg .intro {
  padding-left: 10rem;
}
.banner-lg .title {
  transform: skewX(-11deg);
  margin-left: 0.3rem;
}
.banner-lg .title a {
  margin-bottom: 0rem;
  font-family: "Roboto";
  background-color: #fcb941;
  color: #333333;
  font-size: 1.4rem;
  letter-spacing: -0.01rem;
  text-transform: uppercase;
  border-radius: 0.4rem;
  font-weight: 700;
  padding: 0.8rem 1.5rem;
}
.banner-lg .content {
  text-transform: uppercase;
  font-family: "Roboto";
  margin-bottom: 3rem;
}
.banner-lg .content span {
  color: #fcb941;
}
.banner-lg .content h3 {
  font-size: 5rem;
  letter-spacing: -0.025rem;
  font-weight: 700;
  color: #fff;
  margin-top: 1rem;
  margin-bottom: 0;
}
.banner-lg .content h4 {
  font-size: 3.8rem;
  letter-spacing: -0.01rem;
  font-weight: 700;
  color: #fff;
}
.banner-lg .action a {
  font-size: 1.4rem;
  font-weight: 700;
  font-family: "Roboto";
  color: #fff;
  border: 0.2rem solid #fcb941;
  padding: 1rem 1.8rem;
  text-transform: uppercase;
  border-radius: 0.3rem;
  font-weight: 700;
  transition: all 0.3s;
}
.banner-lg .action a:hover,
.banner-lg .action a:focus {
  color: #333;
  background-color: #fcb941;
}
.highlight {
  color: #fcb941 !important;
}
.banner {
  background-color: white;
}
.banner > div {
  margin-top: 2rem;
  padding: 3.25rem 0 3.25rem 4rem;
  background-size: cover;
}
.banner .intro > div {
  display: flex;
}
.banner .title h3 {
  font-weight: 700;
  font-family: "Roboto";
  color: #fff;
  font-size: 1.6rem;
  letter-spacing: -0.01rem;
  text-transform: uppercase;
  margin-bottom: 0.3rem;
}
.banner .title h2 {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Roboto";
  letter-spacing: -0.01rem;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 0.3rem;
  margin-left: -0.2rem;
}
.banner .content {
  margin-left: -0.1rem;
}
.banner .content h3 {
  font-size: 2rem;
  font-family: "Roboto";
  font-weight: 700;
  letter-spacing: -0.01rem;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 0rem;
}
.banner .content h4 {
  font-size: 1.6rem;
  font-weight: 700;
  font-family: "Roboto";
  letter-spacing: -0.01rem;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 0rem;
}
.banner .action a {
  color: #fcb941;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -0.01rem;
  font-family: "Roboto";
}
.owl-theme .owl-nav [class*="owl-"] {
  width: 3.2rem;
  height: 3.2rem;
  font-size: 2rem;
  margin-top: -1.6rem;
}
.owl-theme.owl-light .owl-nav [class*="owl-"] {
  border: none;
  color: #ccc;
}
.owl-theme.owl-nav-inside .owl-nav .owl-prev {
  left: 24px;
  top: 46%;
}
.owl-theme.owl-nav-inside .owl-nav .owl-next {
  right: 14px;
  top: 46%;
}
.owl-theme.owl-nav-inside .owl-dots {
  bottom: 60px;
}
.owl-theme.owl-light .owl-dots .owl-dot.active span {
  border-color: #f8f8f8;
  background: #f8f8f8;
}
.owl-theme .owl-nav [class*="owl-"]:not(.disabled):hover {
  color: #fff;
  border-color: #fcb941;
  background: #fcb941;
  text-decoration: none;
}
h2.title {
  color: #333333;
  font-size: 2rem;
  font-weight: 700;
  font-family: "Roboto";
  letter-spacing: -0.01rem;
}
.tab-pane {
  padding: 2rem 0 0 0;
}
.newsletter {
  height: 34rem;
  background-size: cover;
  background-repeat: no-repeat;
}
.newsletter {
  margin-bottom: 1.5rem;
}
.newsletter .container {
  padding-top: 4rem;
}
.newsletter .intro:before {
  content: "\f1c6";
  font-family: "molla";
  font-size: 5rem;
  color: #fff;
}
.newsletter h3.title {
  font-family: "Roboto";
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0;
  margin-bottom: 0.5rem;
  text-transform: none;
}
.newsletter h4.content {
  font-family: "Roboto";
  font-size: 1.6rem;
  font-weight: 400;
  color: #fff;
  letter-spacing: -0.01rem;
  margin-bottom: 0rem;
}
.newsletter form {
  margin-top: 2.5rem;
  width: 57rem;
  max-width: 100%;
}
.newsletter input {
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "Roboto";
  letter-spacing: 0;
  padding: 0.7rem 2rem 0.6rem 2rem;
  border: 3px solid white;
  flex: 1 1 auto;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}
.newsletter .btn-subscribe {
  background-color: #fcb941;
  color: white;
  border-color: #fcb941;
  padding: 0.6rem 1rem 0.6rem 1rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-family: "Roboto";
  font-weight: 700;
  letter-spacing: -0.01rem;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  min-width: 15rem;
}
.newsletter .btn-subscribe:hover,
.newsletter .btn-subscribe:focus {
  color: #333;
}
.newsletter .action {
  display: flex;
  justify-content: center;
}
.banner-content a:hover,
.banner-content a:focus {
  text-decoration: none;
}
.banner-container {
  padding-top: 1.5rem;
}
.banner-container .banner-lg {
  margin-bottom: 1rem;
}
.banner-container .banner-lg:hover .action a,
.banner-container .banner-lg:focus .action a {
  color: #333;
  background-color: #fcb941;
}
.banner-container .banner-content {
  left: 5rem;
  padding: 0 5rem 1rem 0;
}
.banner-container img {
  height: 100%;
}
.banner-container .intro {
  padding: 7.5rem 0 9rem 4rem;
}
.banner-container .title {
  margin-bottom: 1.5rem;
}
.banner-container .title a {
  padding: 0.8rem 1.3rem;
}
.banner-container .content {
  margin-bottom: 2rem;
}
.banner-container .content h3 {
  font-size: 2.6rem;
  letter-spacing: -0.01rem;
}
.banner-container .content h4 {
  font-size: 2rem;
}
.banner-container .action a {
  letter-spacing: -0.01rem;
  padding: 0.5rem 1.3rem;
}
.banner-container .highlight {
  color: #fcb941;
}
.icon-box {
  font-family: "Roboto";
}
.service {
  padding-top: 2.5rem;
}
.service .row > div {
  padding-left: 2rem;
  padding-right: 2rem;
}
.service .icon-box-content h3 {
  font-family: "Roboto";
  font-weight: 700;
}

.post.container .owl-prev {
  left: -5.5rem;
}
.post.container .owl-next {
  right: -5.5rem;
}
.social-icon {
  border-color: #999;
}
.social-icon:hover,
.social-icon:focus {
  border-color: #fcb941;
  background-color: transparent;
}
.mobile-menu-container {
  margin-left: -20rem;
}
footer .footer-middle {
  padding: 5.7rem 0 2.2rem;
}
footer .widget-title {
  font-size: 1.6rem;
  font-weight: 700;
  font-family: "Roboto";
  text-transform: uppercase;
  letter-spacing: -0.01rem;
}
footer .widget-list li a {
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "Roboto";
  letter-spacing: 0;
  color: #777;
}
footer .widget-about p {
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "Roboto";
  letter-spacing: 0;
  color: #777;
  max-width: none;
}
footer .footer-copyright {
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "Roboto";
  letter-spacing: 0;
}
.footer-bottom .container:before,
.footer-bottom .container-fluid:before {
  left: 1rem;
  right: 1rem;
}
@media screen and (max-width: 1200px) {
  .header-bottom .container .header-center {
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .header-bottom .container .header-left::after {
    visibility: hidden;
  }
  .header-bottom .container .header-right::before {
    visibility: hidden;
  }
  .header-bottom .menu > li + li {
    margin: 0;
  }
  .shop.container .owl-prev,
  .shop.container .owl-next,
  .post.container .owl-prev,
  .post.container .owl-next {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .header-middle .header-center {
    display: none;
  }
  .compare-dropdown {
    margin-left: 2.2rem;
  }
}
@media screen and (max-width: 768px) {
  .owl-nav {
    display: none;
  }
  .featured-back .nav.nav-pills .nav-item.show .nav-link.active::before,
  .featured-back .nav.nav-pills .nav-item .nav-link.active::before,
  .featured-back .nav.nav-pills .nav-item.show .nav-link::before,
  .featured-back .nav.nav-pills .nav-item .nav-link::before {
    background-color: transparent;
    transform: none;
  }
  .featured-back .nav.nav-pills .nav-item.show .nav-link.active,
  .featured-back .nav.nav-pills .nav-item .nav-link.active {
    color: #d7d7d7;
  }
  .featured-back .section-title,
  .featured-back ul {
    justify-content: center;
  }
  .section-title,
  .section-title ul {
    margin-left: 0;
  }
  .popular .section-title .title,
  .post .section-title .title {
    margin-left: 0;
  }
  .popular .section-title .title::before,
  .post .section-title .title::before {
    transform: none;
  }
}
@media screen and (max-width: 624px) {
  .bannerad .banner-lg {
    flex-wrap: wrap;
    padding-top: 5rem;
  }
  .bannerad .price,
  .bannerad .content {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
  }
  .bannerad .price {
    justify-content: center;
  }
  .bannerad .price::after {
    top: unset;
    right: unset;
    bottom: 1.5rem;
    width: 19rem;
    height: 0.1rem;
  }
  .bannerad .content {
    text-align: center;
  }
}
@media screen and (max-width: 575px) {
  .products > div {
    border: none;
  }
  .intro-slider-container .intro {
    padding-left: 3rem;
  }
}
@media screen and (max-width: 500px) {
  .popular .section-title,
  .post .section-title {
    flex-wrap: wrap;
  }
  .popular .section-title > div,
  .post .section-title > div {
    width: 100%;
    text-align: center;
  }
  .popular .section-title .title,
  .post .section-title .title {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .popular .section-title .link,
  .post .section-title .link {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .newsletter .input-group {
    justify-content: center;
    padding: 0 1rem;
  }
  .newsletter input {
    border-radius: 0.5rem;
  }
  .newsletter .input-group-append {
    margin-top: 1rem;
  }
  .newsletter .input-group > .input-group-append > .btn {
    border-radius: 0.5rem;
  }
}
/*# sourceMappingURL=demo-22.css.map */
