{% extends 'partials/base-login.html' %} {% block title %}Login{% endblock title %}
{% load static %} {% block content %} {% load crispy_forms_tags %} 

<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid rgba(0, 0, 0, 0.15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
      inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -0.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .form-signin {
    max-width: 330px;
    padding: 15px;
  }

  .form-signin .form-floating:focus-within {
    z-index: 2;
  }

  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .input-group {
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid #000;
  }
  .input-group label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #000;
    pointer-events: none;
    transition: 0.5s;
  }
  .input-group input {
    width: 320px;
    height: 40px;
    font-size: 16px;
    color: #000;
    padding: 0 5px;
    background: transparent;
    border: none;
    outline: none;
  }
  .input-group input:focus ~ label,
  .input-group input:valid ~ label {
    top: -5px;
  }
  .remember {
    margin: -5px 0 15px 5px;
  }
  .remember label {
    color: #000;
    font-size: 14px;
  }
  .remember label input {
    accent-color: #0ef;
  }
  {% comment %} button {
    position: relative;
    width: 100%;
    height: 40px;
    background: #0ef;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #000;
    font-weight: 500;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    outline: none;
  } {% endcomment %}
  .signUp-link {
    font-size: 14px;
    text-align: center;
    margin: 15px 0;
  }
  .signUp-link p {
    color: #fff;
  }
  .signUp-link p a {
    color: #0ef;
    text-decoration: none;
    font-weight: 500;
  }
  .signUp-link p a:hover {
    text-decoration: underline;
  }
</style>

{% include 'alerts/alert.html' %}


<div class="container">
  <div class="row my-auto">
    <div class="col-xl-8 col-lg-10 col-md-12 m-auto">
      <div class="row">
        <div class="col-lg-6 pr-30 d-none d-lg-block">
          <img
            class="border-radius-15"
            src="{% static 'assets/imgs/page/login-1.png' %}"
            alt=""
          />
        </div>
        <div class="col-md-5 my-5 p-5">
          <div style="place-content: center;" class="">
            <h4>Sign in</h4>
            <form autocomplete="on" method="POST" action="{% url 'userauths:email' %}">
              {% csrf_token %}
              <input type="hidden" name="next" value="{{ next }}">
              <div class="input-group">
                <input name="email_or_phone" type="text" required />
                <label for="">Email or Phone number</label>
              </div>
              <p style="font-size: small;">By continuiing, you agree to <a href="#">Adepa's T's & C's</a> and <a href="#">Privacy Notice</a>.</p>
              <p style="font-size: small;"><a href="{% url 'userauths:reset' %}">Forgot password</a>?</p>
              <hr>
              <button class="btn btn-outline-primary w-100" type="submit">Continue</button>
            </form>
            <br>
            <p>New here? <a href="{% url 'userauths:sign_up' %}">Create Account</a></p>
          </div>
          <p style="font-size: x-small; place-content: center;">© 2024 - {% now "Y" %}, Adepa.com Inc or affiliates</p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  
</script>

{% endblock%}
